<div>
    <h2>{{ include.title }}</h2>

    {% for skill in include.source %}
    <div class="skills">
        <div class="skill-perform">
            <p>{{ skill.name }}</p>
        </div>
        <div class="skill-perform">
            <p>{{ skill.percentage }}%</p>
        </div>
    </div>

    <div class="progress mb-4 bg-themed" style="height: 8px;">
        <div class="progress-bar bg-{{ skill.color | default:'primary' }} wow animated slideInLeft"
            data-wow-delay="{{ forloop.index | divided_by: 20.0}}"
            role="progressbar"
            style="width: {{ skill.percentage }}%;"
            aria-valuenow="{{ skill.percentage }}"
            aria-valuemin="0"
            aria-valuemax="100">
        </div>
    </div>
    {% endfor %}
</div>