* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    padding-left: calc(100vw - 100%);
}
  
body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.badge {
    font-weight: 500;
}

.bg-light,
.badge-light {
    &,
    * {
        color: $text-black !important;
    }
}

.bg-dark,
.badge-dark {
    &,
    * {
        color: $text-white !important;
    }
}

/*.image-caption {
display: block;
text-align: center;
color: light-grey;
font-size: .8rem;
}*/

.answer {
    display:none;
    background-color: rgba(var($primary), 0.8);
    padding:5px;
    border: 2px solid $primary;
    border-radius: 10px;
}